:root {
  --orange: orange;
  --black: black;
  --gradient: linear-gradient(90deg, #fcfeff 0%, #a5deff 100%);
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.section {
}

.main-page {
  background: var(--gradient);
}
