.hero {
  background: var(--gradient);

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;

    padding: 0 20px;
    margin: 0 auto;

    // @media screen and (min-width: $tablet) {
    // }

    @media screen and (min-width: $desktop) {
      padding-left: 95px;
    }
  }

  &__row {
    align-self: center;
    min-height: 100vh;

    position: relative;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $pre-desktop) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__wrapper {
    margin-top: 120px;

    align-self: center;
    padding: clamp(24px, 4.7vw, 60px) clamp(20px, 4.7vw, 56px);
    background-color: var(--white);
    max-width: 578px;

    box-shadow: 1px 1px 2px rgba(33, 33, 33, 0.21);
    border-radius: 4px;

    @media screen and (min-width: $desktop) {
      margin-top: unset;

      width: 50%;
    }
  }

  &__greeting {
    margin-bottom: 16px;
    color: var(--main);
  }

  &__start-text {
    margin-bottom: clamp(24px, 3.5vw, 48px);
    color: var(--accent);
  }

  &__title {
    margin-bottom: clamp(16px, 1.8vw, 24px);
    color: var(--main);
    word-wrap: break-word;
  }

  &__descr {
    margin-bottom: clamp(30px, 3.5vw, 48px);
  }

  &__button {
    @media screen and (max-width: $pre-tablet) {
      margin: 0 auto;
    }
  }

  &__img {
    position: relative;
    bottom: -40px;
    align-self: flex-end;
    width: 70%;
    height: auto;

    @media screen and (min-width: $tablet) {
      max-width: 45%;
    }

    @media screen and (min-width: $desktop) {
      max-width: 53%;
      width: 1000px;
    }

    transition: width var(--transition);
  }
}
