.success-modal {
}

.success-modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-modal__close-button {
}

.success-modal__tryzub {
  margin-bottom: 44px;
}

.success-modal__title {
  margin-bottom: 20px;
}

.success-modal__descr {
}
