.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  margin: 32px 0 56px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;

  &__link {
    color: var(--accent);
    transition: color var(--transition);

    &:hover,
    &:focus {
      color: var(--accent-focused);
    }
  }

  &__icon {
    fill: currentColor;
  }

  &__text {
    color: #010101;
  }
}
