.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px 24px;

  font: inherit;

  cursor: pointer;
  border-radius: 8px;

  transition: var(--transition);
  transition-property: color, background-color;

  &--primary {
    color: var(--white);
    background: var(--accent);

    box-shadow: 1px 1px 3px 1px rgba(33, 33, 33, 0.21);

    &:hover,
    &:focus {
      background: var(--accent-focused);
    }
  }
}
